* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbarNav ul li a {
    color: white;
}

#navbarNav div a {
    color: white;
}

.container .row .col-6 form {
    border: solid black 1px;
    border-radius: 10px;
    padding: 30px;
    height: 370px;
}

.container .row .col-6 form button {
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

.modal-body input{
    width: 100%;
}

#formPendaftaran {
    height: 500px;
}

#form-login {
    height: 450px;
}